<div class="container-fluid">
  <div class="row align-items-end">
    <div class="col-xs-12">
      <div class="card formula mt3em">
        <div class="card-header">
          <div class="card-title">
            <h2>
              {{ (blogToEdit$ | async)?.id ? 'Edición' : 'Registro' }} de
              Correos
            </h2>
          </div>
        </div>
        <div class="card-body">
          <div class="card-content">
            <form [formGroup]="formBlog">
              <div class="form-row align-items-end">
                <div class="col-12">
                  <div class="form-group">
                    <label for="email">Template</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="pertenece"
                      id="pertenece"
                      
                    />
                  </div>

                    
                </div>
                <div class="col-12">
                  <input type='checkbox' (change)="destinatario()" formControlName="destinatario" name='destinatario'  class=''  /> Destinatario

                </div>
                <div class="col-12" *ngIf="mostrarPara==1">
                  <label for="email">Para</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="para"
                    id="para"
                    
                  />
                </div>

                <div class="col-12
                ">
                  <!-- <label for="descripcion_larga">Descripcion Larga</label> -->
                  <!-- <div >Hello, Froala!</div>                   -->
                  <div class="form-group">
                    <label for="descripcion_larga">Contenido</label>
             
                 <textarea class="form-control"
      
                    [froalaEditor]="options" 
                   formControlName="contenido"
                    id="contenido"></textarea> 
                    <!-- <div [ngxSummernote]></div> -->
                    <!-- <ckeditor  formControlName="contenido"></ckeditor> -->
                    <!-- <editor
                    formControlName="contenido"
                      [init]="{
                        height: 500,
                        menubar: false,
                        plugins: [
                          'advlist autolink lists link image charmap print preview anchor',
                          'searchreplace visualblocks code fullscreen',
                          'insertdatetime media table paste code help wordcount'
                        ],
                        
                        toolbar:
                          'undo redo | formatselect | bold italic backcolor | \
                          alignleft aligncenter alignright alignjustify | \
                          bullist numlist outdent indent | removeformat | forecolor backcolor |help'
                      }"
                    ></editor> -->
                   <!-- <ckeditor [editor]="Editor" [data]="data"  formControlName="contenido"></ckeditor> -->

                  </div>
                </div>
               
              </div>

              <div class="row">
                <div
                  class="col-auto my-2"
                  *ngIf="(blogToEdit$ | async)?.id; else noEditMode"
                >
                  <button
                    type="button"
                    class="btn btn-raised btn-primary"
                    [disabled]="formBlog.invalid"
                    (click)="edit()"
                  >
                    Editar
                  </button>
                </div>
                <ng-template #noEditMode>
                  <div class="col-auto my-2">
                    <button
                      type="button"
                      class="btn btn-raised btn-primary"
                      [disabled]="formBlog.invalid"
                      (click)="add()"
                    >
                      Guardar
                    </button>
                  </div>
                </ng-template>

                <div class="col-auto my-2">
                  <button
                    type="button"
                    class="btn btn-raised btn-warning"
                    [disabled]="!formBlog.dirty"
                    (click)="formBlog.reset()"
                  >
                    Limpiar
                  </button>
                </div>
              </div>
            </form>
            <div class="row variables">
              <div class="col-12">
                <h4>Variables</h4>
              </div>
           

            </div>
            <div class="row">
              <div class="col-12">
                <table class="table table-hover">
                  <thead>
                    <th>Información del cliente</th>
                    <th>Información del crédito</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td [innerHTML]="Nombre"></td>
                      <td *ngIf="carga=='contacto'" [innerHTML]="Email"></td>
                      <td *ngIf="carga!='contacto'" [innerHTML]="Ncredito"></td>
                    </tr>
                    <tr *ngIf="carga!='contacto'">
                      <td [innerHTML]="Apellido"></td>
                      <td [innerHTML]="MontoTotal"></td>
                    </tr>
                    <tr *ngIf="carga!='contacto'">
                      <td [innerHTML]="Cedula"></td>
                      <td [innerHTML]="Expedicion"></td>
                    </tr>
                    <tr *ngIf="carga!='contacto'">
                      <td [innerHTML]="Email"></td>
                      <td [innerHTML]="TipoCredito"></td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

