<div class="container-fluid">
  <div class="row align-items-end">
    <div class="col-xs-12">
      <div class="card formula mt3em">
        <div class="card-header">
          <div class="card-title">
            <h2>
              {{ (configToEdit$ | async)?.id ? 'Edición' : 'Registro' }} de
              Configuracion de contra oferta
            </h2>
          </div>
        </div>
        <div class="card-body">
          <div class="card-content">
            <form [formGroup]="formConfig">
              <div class="form-row align-items-end">
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Monto Máximo</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="monto_maximo"
                      required
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="email">Monto Minimo</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="monto_minimo"
                      required
                    />
                  </div>
                </div>
                <!-- <div class="col-6">
                  <div class="form-group">
                    <label for="email">Tipo de credito</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="tipo_credito"
                      
                    />
                  </div>
                </div> -->
                
              </div>
              <div class="row">
                <div
                  class="col-auto my-2"
                  *ngIf="(configToEdit$ | async)?.id; else noEditMode"
                >
                  <button
                    type="button"
                    class="btn btn-raised btn-primary"
                    [disabled]="formConfig.invalid"
                    (click)="edit()"
                  >
                    Editar
                  </button>
                </div>
                <ng-template #noEditMode>
                  <div class="col-auto my-2">
                    <button
                      type="button"
                      class="btn btn-raised btn-primary"
                      [disabled]="formConfig.invalid"
                      (click)="add()"
                    >
                      Guardar
                    </button>
                  </div>
                </ng-template>

                <div class="col-auto my-2">
                  <button
                    type="button"
                    class="btn btn-raised btn-warning"
                    [disabled]="!formConfig.dirty"
                    (click)="formConfig.reset()"
                  >
                    Limpiar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



