<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header" *ngIf="isAdmin">
        <div class="card-title">
          <h2>Modificar Servicios</h2>
        </div>
      </div>
      <div class="card-body" *ngIf="isAdmin">
        <div class="card-content">
          <div class="row">
            <div class="col-12" *ngIf="servicesFiltered$ | async as services">
              <form>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-12 col-md-10">
                      <ngx-select-dropdown
                        [multiple]="true"
                        [config]="serviceSelectConfig"
                        [options]="services['data']"
                        (change)="servicesSelected($event.value)"
                      ></ngx-select-dropdown>
                    </div>
                    <div class="d.sm-12 col-md-2">
                      <button
                        class="btn btn-raised btn-small btn-primary"
                        [disabled]="formAddService.invalid"
                        (click)="addServices()"
                      >
                        <i class="ft-save"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <!-- <small id="helpId" class="text-muted"
                              >Help text</small
                            > -->
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="person$ | async as person">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <h2>Servicios Asignados</h2>
            </div>
          </div>
          <div class="card-body">
            <div class="card-content">
              <table class="table table-striped table-inverse table-responsive">
                <thead class="thead-default">
                  <tr>
                    <th>Nombre</th>
                    <th>Estatus</th>
                    <th>
                      Acciones
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let service of person.services
                        | paginate
                          : {
                              itemsPerPage: pItemsInPage,
                              currentPage: serv
                            };
                      index as i
                    "
                  >
                    <td>
                      {{ service.name }}
                    </td>
                    <td>
                      {{ service.pivot.enable === '1' ? 'Activo' : 'Inactivo' }}
                    </td>
                    <td>
                      <div
                        class="button group"
                        *ngIf="service.pivot.enable !== '1'"
                      >
                        <input
                          type="checkbox"
                          aria-label="Activar"
                          (change)="changeStatusService($event, i)"
                          value="1"
                          [checked]="
                            service.pivot.enable === '1' ? true : false
                          "
                        />
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row aling-items-end">
                <div class="col-3">
                  <div class="form-group">
                    <!-- <label for="page">Items por Página</label> -->
                    <select
                      class="form-control"
                      name="page"
                      id="page"
                      [(ngModel)]="pItemsInPage"
                    >
                      <option value="5">5</option>
                      <option value="15">15</option>
                      <option value="50">50</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <pagination-controls
                    (pageChange)="serv = $event"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                  ></pagination-controls>
                </div>
              </div>
            </div>
            <div class="row" *ngIf="isAdmin">
              <div class="col-12">
                <button
                  class="btn btn-raised btn-small btn-primary"
                  [disabled]="servicesForUpdate.invalid"
                  (click)="updateServices()"
                >
                  <i class="ft-refresh-cw"></i>
                  Aprobar Servicios
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- {{ servicesForUpdate.value | json }} -->
        <!-- {{ formAddService.value | json }}
        {{ person$ | async | json }} -->
      </div>
    </div>
  </div>
</div>
