<div class="container-fluid padding-mv-0">
  <div class="row margin-mv-0">
    <div class="col-12 padding-mv-0">
      <div class="card formula mt3em">
        <div class="card-header">
          <div class="card-title">
            <h2>Creditos Pagados</h2>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <!-- <label>Busqueda por: Nºcrédito, Estatus</label><br>
              <app-filter (onFilter)="onFilter($event)"></app-filter> -->
            </div>
            <div class="col-12">
              <!-- <button
                        ngbTooltip="Descargar  Excel"
                          type="button"
                          class="btn btn-success"
                          (click)="export()"
                          
                        >
                          <a class="ft-download" style="color:white"></a>
                        </button> -->
            </div>
            <div class="col-12 table-responsive">
              <table
                class="table table-striped"
                
              >
                <thead class="thead-inverse">
                  <tr>
                    <th>Nro de Credito</th>
                    <th>Fecha de pago</th>
                    <th>Monto desembolsado</th>
                    <th>Monto pagado</th>
                    <th>Estatus</th>
                   
                    <th>Acciones</th> 
            
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                  let c of (country$ | async)['data']
                    | paginate
                      : {
                          itemsPerPage: itemsPerPage,
                          currentPage: p,
                          totalItems: (country$ | async)['total']
                        }; 
                      index as i
                ">
                <td>{{c.numero_credito}}</td>
                <td> {{ c.fechaUltimoPago }}</td>
                <td>${{(c.ofertaEnviada == 2 ? c.montoSolicitado : c.ContraOferta.montoAprobado )| number:'1.0-0':'es' }}</td>
                <td>${{c.MontoPagado | number:'1.0-0':'es' }}</td>
                <td> {{ c.estatus_credito }}</td>
                <td >     
                  <div class="btn-group">
                      <button
                      *ngIf="c.factura"
                      ngbTooltip="Descargar Factura"
                        type="button"
                        class="btn btn-info"
                        (click)="descargarFactura(c.id_solicitud)"
                       
                      >
                        <a class="ft-download" style="color:white"></a>
                      </button>
                    </div> 
                  </td> 
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row aling-items-end">
            <div class="col-3">
              <div class="form-group">
                <!-- <label for="page">Items por Página</label> -->
                <select
                  class="form-control"
                  name="page"
                  id="page"
                  (change)="perPage($event.target.value, p)"
                >
                  <option value="5">5</option>
                  <option value="15">15</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <div class="col">
              <pagination-controls
              (pageChange)="perPage(itemsPerPage,$event)"
                previousLabel="Anterior"
                nextLabel="Siguiente"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <!-- {{ users$ | async | json }} -->
    </div>
  </div>
</div>

