.thead-dark th {
    color: #f5f7fa;
    background-color: #e9bf21;
    border-color: #32383e;
}

.claseCelda td{
    text-align: center !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}
