<div class="row" *ngIf="user$ | async as user">
  <div class="col-12">
    <div class="card formula mt3em">
      <div class="card-header">
        <div class="card-title">
          <h2>
            <strong>{{ user.first_name }} {{ user.last_name }}</strong>
          </h2>
        </div>
      </div>
      <div class="card-body">
        <div class="card-content">
          <div class="row">
            <div class="col-12">
              <h3>
                Correo: <strong>{{ user.email }}</strong>
              </h3>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-6">
              <div class="card-subtitle">
                Roles del Usuario
              </div>
              <ul class="list-group">
                <li *ngFor="let rol of user.roles" class="list-group-item">
                  {{ rol.name }}
                </li>
              </ul>
            </div>
            <div class="col-6">
              <div class="card-subtitle">
                Oficinas Asignadas
              </div>
              <ul class="list-group">
                <li *ngFor="let office of user.offices" class="list-group-item">
                  {{ office.name }}
                </li>
              </ul>
            </div>
          </div> -->
          <div class="row">
            <div class="col-auto">
              <button
                type="button"
                class="btn btn-warning"
                [routerLink]="['/admin/user/', user.id, 'edit']"
              >
                <span style="color:white">
                  Editar
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- {{ user$ | async | json }} -->
  </div>
</div>
