<div class="container-fluid padding-mv-0">
  <div class="row margin-mv-0">
    <div class="col-12 padding-mv-0">
      <div class="card formula mt3em">
        <div class="card-header">
          <div class="card-title">
            <h2>Filtros</h2>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <app-filter (onFilter)="onFilter($event)"></app-filter>
            </div>
            <div class="col-12 table-responsive">
              <table
                class="table table-striped"
              >
                <thead class="thead-inverse">
                  <tr>
                    <th>Variable</th>
                    <th>Valor</th>
                    <th>Signo</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let blog of (blogs$ | async)['data']
                        | paginate
                          : {
                              itemsPerPage: itemsPerPage,
                              currentPage: p,
                              totalItems: (blogs$ | async)['total']
                            }; 
                          index as i
                    "
                  >
                
                    <td scope="row">{{ blog.variable }}</td>
                    <td>{{ blog.valor }} </td>
                    <td>{{ blog.signo }} </td>
               
                    <!-- <td>{{ joinData(user.offices) }}</td> -->
                    <!-- <td>{{ user.roles.name }}</td> -->
                    <td>
                      <div class="btn-group">
                        <button
                        ngbTooltip="Editar"
                          type="button"
                          class="btn btn-secondary"
                          [routerLink]="['/admin/filtrado/', blog.id]"
                        >
                          <a class="ft-more-horizontal" text-info></a>
                        </button>

                        <!-- <button
                        ngbTooltip="Eliminar"
                          type="button"
                          class="btn btn-danger"
                          (click)="delete(blog)"
                        >
                          <a class="ft-trash" style="color:white"></a>
                        </button> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row aling-items-end">
            <div class="col-3">
              <div class="form-group">
                <!-- <label for="page">Items por Página</label> -->
                <select
                  class="form-control"
                  name="page"
                  id="page"
                  (change)="perPage($event.target.value, p)"
                >
                  <option value="5">5</option>
                  <option value="15">15</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
            <div class="col">
              <pagination-controls
              (pageChange)="perPage(itemsPerPage,$event)"
                previousLabel="Anterior"
                nextLabel="Siguiente"
              ></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <!-- {{ users$ | async | json }} -->
    </div>
  </div>
</div>
